* {
    box-sizing: border-box; /*css box model border-box tells browser to include any border or padding and adjust sizing*/
    padding: 0; /*push inner elements together*/
    margin: 0;/*separates elements*/
}

body {
    background-color: #d9dcd6; /*background colour of the whole webpage*/
}

header {
    padding: 20px; /*edits size of bar*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*font used in main header*/
    background-color: #2a607c; /*background colour of header bar*/
    color: #ffffff; /*colour of font inside the box*/
}

header h1 { /*first heading size and location on bar*/
    display: inline-block; /*matches size of parent block*/
    font-size: 48px;
}

header h1 .seo { /*'seo' part of header has defined colour*/
    color: #d9dcd6;
}

header nav { 
    padding-top: 15px;/*has padding box all around by 15 pixels*/
    margin-right: 20px; /*has margin all around by 20 pixels*/
    float: right; /*the whole navigation bar to float from the margin to the right*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; /*size of fonts within the navigation bar*/
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero { /*main page image at top of webpage showing size and linking image source*/
    height: 800px; /*sets specific height*/
    width: 100%; /*image set to fit 100% of page width*/
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); /*source of image*/
    background-size: cover; /*this and following line positions and centers image on screen to scale*/
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;

}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.business {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

.business img {
    max-height: 200px;
}


.business h2 {
    margin-bottom: 20px;
    font-size: 36px;

}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

